.venv/
.idea/
__pycache__/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/tfplan

benchmarks/profiling/traces/
